.square {
    height: 400px;
    width: 400px;
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, 48.5%);
    grid-template-rows: repeat(2, 48.5%);
    grid-gap: 3%;
    background-color: white;
}

.ul {
    grid-column: 1;
    grid-row: 1;
}

.ur {
    grid-column: 2;
    grid-row: 1;
}

.bl {
    grid-column: 2;
    grid-row: 2;
}

.br {
    grid-column: 3;
    grid-row: 3;
}
