<div class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow">
    <div class="container-fluid d-flex justify-content-around">
        <div class="nav-item">
            <h5 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/"  class="unactive-link">Accueil</a></h5>
        </div>
        <div class="nav-item">
            <h5 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/Liste"  class="unactive-link" >Liste</a></h5>
        </div>
        <div class="nav-item">
            <h5 [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/Gestion" class="unactive-link">Gestion</a></h5>
        </div>
    </div>
</div>
